.demo{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.cursor_pointer{
  cursor: pointer;
}

.blog__pagination{
  padding-top: 5px;
  position: relative;
}
.blog__pagination:before {
  position: absolute;
  left: 0;
  top: -29px;
  height: 1px;
  width: 100%;
  background: #000000;
  opacity: 0.1;
  content: "";
}


.product__pagination a, .blog__pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-right: 16px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}


.custom_margin-right_pagination {
  margin-right: 5px !important;
}
.page-active {
  background-color: #7FAD39;
  color: #fff !important;
}

.product__pagination a, .blog__pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-right: 16px;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.custom_margin-right_pagination {
  margin-right: 5px !important;
}

.primary-btn{
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    background: #7fad39;
    letter-spacing: 2px;
    border: none;
}

/* 
.primary-btn {
  border: none;
} */
.custom-primary-btn {
  padding: 5px;
  font-size: 10px;
  outline: none !important;
  border: none;
  box-shadow: none;
}


.icon i{
  font-size: 38px;
}

.custom-primary-btn-sort{
  background-color: #2A3F54;
  text-transform: capitalize;
  padding-left: 8px;
  padding-right: 8px;
  outline: none !important;
  border: none;
  box-shadow: none;
}

.custom-primary-btn-sort-active{
  background-color: #457b9d;
}


.btn-order-active{
  background-color: #365507;
}