.demo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.cursor_pointer {
    cursor: pointer;
}

/* CHAT MESSAGE BOX */

#screen-message .card {
    background: #fff;
    transition: 0.5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

#screen-message .chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
}

#screen-message .chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
}

#screen-message .people-list {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#screen-message .people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
}

#screen-message .people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer;
}

#screen-message .people-list .chat-list li.active {
    background: #efefef;
}

#screen-message .people-list .chat-list li .name {
    font-size: 15px;
}

#screen-message .people-list .chat-list img {
    width: 45px;
    border-radius: 50%;
}

#screen-message .people-list img {
    float: left;
    border-radius: 50%;
}

#screen-message .people-list .about {
    float: left;
    padding-left: 8px;
}

#screen-message .people-list .status {
    color: #999;
    font-size: 13px;
}

#screen-message .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
}

#screen-message .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
}

#screen-message .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
}

#screen-message .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
}

#screen-message .chat .chat-history ul {
    padding: 0;
}

#screen-message .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
}

#screen-message .chat .chat-history ul li:last-child {
    margin-bottom: 0px;
}

#screen-message .chat .chat-history .message-data {
    margin-bottom: 15px;
}

#screen-message .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px;
}

#screen-message .chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
}

#screen-message .chat .chat-history .message {
    color: #444;
    padding: 6px 10px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
}

#screen-message .chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

#screen-message .chat .chat-history .my-message {
    background: #efefef;
}

#screen-message .chat .chat-history .my-message:after {
    bottom: 100%;
    left: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px;
}

#screen-message .chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
}

#screen-message .chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 75%;
}

#screen-message .chat .chat-message {
    padding: 20px;
}

#screen-message .online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
}

#screen-message .online {
    color: #86c541;
}

#screen-message .offline {
    color: #e47297;
}

#screen-message .me {
    color: #1d8ecd;
}

#screen-message .float-right {
    float: right;
}

#screen-message .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 767px) {
    #screen-message .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none;
    }

    #screen-message .chat-app .people-list.open {
        left: 0;
    }

    #screen-message .chat-app .chat {
        margin: 0;
    }

    #screen-message .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;
    }

    #screen-message .chat-app .chat-history {
        height: 300px;
        overflow-x: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #screen-message .chat-app .chat-list {
        height: 650px;
        overflow-x: auto;
    }

    #screen-message .chat-app .chat-history {
        height: 600px;
        overflow-x: auto;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    #screen-message .chat-app .chat-list {
        height: 480px;
        overflow-x: auto;
    }

    #screen-message .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto;
    }
}

.blog__pagination {
    padding-top: 5px;
    position: relative;
}

.blog__pagination:before {
    position: absolute;
    left: 0;
    top: -29px;
    height: 1px;
    width: 100%;
    background: #000000;
    opacity: 0.1;
    content: "";
}

.product__pagination a,
.blog__pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.custom_margin-right_pagination {
    margin-right: 5px !important;
}

.page-active {
    background-color: #7fad39;
    color: #fff !important;
}

.product__pagination a,
.blog__pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.custom_margin-right_pagination {
    margin-right: 5px !important;
}

.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    background: #7fad39;
    letter-spacing: 2px;
    border: none;
}

.sub-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border: none;
}

/* 
.primary-btn {
  border: none;
} */
.custom-primary-btn {
    padding: 5px;
    font-size: 10px;
    outline: none !important;
    border: none;
    box-shadow: none;
}

.icon i {
    font-size: 38px;
}

.custom-primary-btn-sort {
    background-color: #2a3f54;
    text-transform: capitalize;
    padding-left: 8px;
    padding-right: 8px;
    outline: none !important;
    border: none;
    box-shadow: none;
}

.custom-primary-btn-sort-active {
    background-color: #457b9d;
}

.btn-order-active {
    background-color: #365507;
}

.profile_pic {
    width: 70px;
    height: 70px;
    float: left;
}

.img-circle.profile_img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
}

/* Message */
.welcome-message-picture {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.welcome-message-picture img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.welcome-message-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background: transparent;
    box-shadow: 1px 3px 7px #333;
}

.custom-item-language {
    cursor: pointer;
}

.btn_custom_pattern {
    height: 50px;
    width: 50px;
}

.btn_custom_pattern:nth-child(1) {
  background-color: #363062;
}

.btn_custom_pattern:nth-child(2) {
  background-color: #557C55;
}

.btn_custom_pattern:nth-child(3) {
  background-color: #6B240C;
}

.btn_custom_pattern:nth-child(4) {
  background-color: #FFD28F;
}

.btn_custom_pattern:nth-child(5) {
  background-color: #2D9596;
}

.btn_custom_pattern:nth-child(6) {
    background-color: #2a3f54;
  }
  


