.cover_img_user{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}

.cover_img_user img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.cover_img_avatar{
    height: 30px;
    width: 30px;
}

.cover_img_avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
 }


 .autocomplete{
    /* height: 100px; */
    width: 55%;
    background-color: #fff;
    position: absolute;
    z-index: 10000;
    top:  11%;
 }

 .autocomplete ul{
    list-style: none;
    margin: 10px;
 }

 .autocomplete li a{
    font-size: 14px;
    color: #000 !important;
    /* background-color: red; */
   
    
 }

 .info_search_item{
    font-size: 10px;
    font-style: italic;
    display: block; /* or inline-block */
 }