.cover_img_user {
   width: 200px;
   height: 200px;
   border-radius: 50%;

}

.cover_img_user img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.cover_img_avatar {
   height: 30px;
   width: 30px;
}

.cover_img_avatar img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}


.autocomplete {
   /* height: 100px; */
   width: 55%;
   background-color: #fff;
   position: absolute;
   z-index: 10000;
   top: 11%;
}

.autocomplete ul {
   list-style: none;
   margin: 10px;
}

.autocomplete li a {
   font-size: 14px;
   color: #000 !important;
   /* background-color: red; */


}

.info_search_item {
   font-size: 10px;
   font-style: italic;
   display: block;
   /* or inline-block */
}



/* Chat */


.chat-btn {
   position: absolute;
   right: 14px;
   bottom: 30px;
   cursor: pointer
}

.chat-btn .close {
   display: none
}

.chat-btn i {
   transition: all 0.9s ease
}

#check:checked~.chat-btn i {
   display: block;
   pointer-events: auto;
   transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
   display: none
}

.chat-btn i {
   font-size: 22px;
   color: #fff !important
}

.chat-btn {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   background-color: #7fad39;
   color: #fff;
   font-size: 22px;
   border: none
}

.wrapper {
   position: absolute;
   right: 20px;
   bottom: 100px;
   width: 300px;
   background-color: #fff;
   border-radius: 5px;
   opacity: 0;
   transition: all 0.4s
}

#check:checked~.wrapper {
   opacity: 1;
}

.header-custom {
   padding: 13px;
   background-color: #7fad39;
   border-radius: 5px 5px 0px 0px;
   margin-bottom: 10px;
   color: #fff
}

.chat-form {
   padding: 15px
}

.chat-form input,
textarea,
button {
   margin-bottom: 10px
}

.chat-form textarea {
   resize: none
}

.form-control:focus,
.btn:focus {
   box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
   /* background-color: #7fad39;
   border: #7fad39 */
}

#check {
   display: none !important
}

.span_time {
   font-size: 12px;
   color: #989292;
   line-height: 0px;
}


.autocomplete ul {
   list-style: none;
   margin: 10px;
}

.autocomplete li a {
   font-size: 14px;
   color: #000 !important;
   /* background-color: red; */


}

.info_search_item {
   font-size: 10px;
   font-style: italic;
   display: block;
   /* or inline-block */
}

.custom-primary-btn {
   padding: 10px;
   font-size: 12px;
}

.custom-primary-btn:hover {
   color: #fff;
}

.custom-primary-btn-cancel{
   background-color: #588157;
   color: #000;
}

.custom-primary-btn-cancel:hover{
   background-color: #588157;
   color: #000;
}

.primary-btn{
   border: none;
}
/* pagination */
.custom_pagination{
   list-style: none;
   /* display: inline-flex; */
}

.page-active{
   background-color: #7FAD39;
   color: #fff !important;
}

.custom_margin-right_pagination{
   margin-right: 5px !important;
}

.custom-btn-default{
   box-shadow: none;
}

.active_btn_sort{
   background-color: #7fad39;
   color: #fff;
}